@import '@/styles/mixins';

.container {
  display: flex;
  width: 100%;
  margin-top: 18px;
  flex-direction: column;
  gap: 12px;
}

.description {
  margin: 0;
  font-weight: bolder;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.timerInput {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  display: flex;
  align-items: center;
  gap: 6px;

  input {
    width: 38px;
    height: 29px;
    border: none;
    color: $black;
    text-align: center;
    border-radius: 4px;
    background-color: $gray-0;

    &:focus {
      color: $black;
    }

    &::placeholder {
      color: $gray-3;
    }
  }
}
